@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Roboto&display=swap');

.home{
    display: flex;
    background-color: lightgray;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    margin-top: 5rem;
    padding: 3rem ;
}

.home .leftside{
    padding: 3rem;
    height: 27rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home .leftside h1{
    font-family: 'Amatic SC', sans-serif;
    font-size: 3rem;
    color: rgb(19, 18, 18);
}
.home .leftside p{
    font-family: sans-serif;
    font-size: 1.2rem;
    color: rgb(19, 18, 18);
}
.home .rightside{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .rightside>img{
    /* width: 100%; */
    width: 20rem;
    /* background-color: red; */

}

.button{
    width: 100%;
    display: flex;
    margin: 2rem;
    flex-wrap: wrap;
    /* gap: 1rem; */
}
.button a>button{
    background-color: #ec2727;
    color: white;
    padding: 10px 30px;
    border-radius: 2rem;
    margin-right: 1rem;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    /* margin: 1rem; */
}
.button a>button:hover{
    opacity: 0.7;
}
.button>a:last-child{
    padding: 10px;
    color: black;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    text-decoration: none;
    font-weight: 500;
    /* margin: 1rem; */
}
.button>a:last-child:hover{
    color: #ec2727;
}
.button>a>i{
    color: #ec2727;
    font-size: 1.7rem;
    margin-right: 3px;
}

/* =============responsive design======== */
@media (max-width:990px) {
    .home{
        flex-direction: column-reverse;
        gap: 1rem;
    }
    .home .leftside{
        width: 80%;
    }
}
@media (max-width:668px) {
    .home .leftside{
        padding: 10px;
        margin: 0%;
    }
    .home .leftside>h1{
        font-size: 3rem;
    }
    .home .rightside>img {
        width: 20rem;
    }
}
@media (max-width:440px) {
    .button{
        /* flex-direction: column-reverse; */
        gap: 1rem;
    }
    .home .leftside{
        width: 20rem;
    }
    .home .leftside>h1{
        font-size: 2.7rem;
    }
    .home .rightside>img {
        width: 15rem;
    }
}
